@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 
 
$lnBdFill: #3498db;  // lineBackgroundFill
$lnBdEmp: #e0e0e0;  // lineBackgroundEmpty
$wht: #fff;
$ctr: center;
 
* {
  box-sizing: border-box;
}
   
body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: $ctr;
  justify-content: $ctr;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: $ctr;
}
 
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
 
.progress-container::before {
  content: '';
  background-color: $lnBdEmp;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color:$lnBdFill;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: $wht;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: $ctr;
  justify-content: $ctr;
  border: 3px solid $lnBdEmp;
  transition: 0.4s ease;
}
 
.circle.active {
  border-color: $lnBdFill
}

.btn {
  background-color: $lnBdFill;
  color: $wht;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
 
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: $lnBdEmp;
  cursor: not-allowed;
}
